<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station Layout</title>
    <link rel="stylesheet" href="../static/css/station_edit.css">
</head>
<body>
    <div class="container">
        <h1>Customer</h1>
        <div class="content-area">
            {% if all_customer %}
                <table>
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in all_customer %}
                        <tr class="tlist">
                            <td>User {{ user.get_user_id() }}</td>
                            <td>{{ user.get_username() }}</td>
                            <td>{{ user.get_firstname() }} {{ user.get_surname() }}</td>
                            <td id="status-{{ user.get_user_id() }}">{{ user.get_status() }}</td>
                            <td>
                                <button class="edit-btn" id="edit-btn-{{ user.get_user_id() }}">Edit</button>
                            </td>
                            <div id="popup-modal-{{ user.get_user_id() }}" class="modal">
                                <div class="modal-content">
                                    <span class="close-btn" id="close-btn-{{ user.get_user_id() }}">&times;</span>
                                    <h2>User {{ user.get_user_id() }}</h2>
                                    <p>{{ user.get_firstname() }} {{ user.get_surname() }}</p>
                                    <button class="change-btn" data-user-id="{{ user.get_user_id() }}">Suspend</button>
                                </div>
                            </div>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <span>No user available.</span>
            {% endif %}
        </div>
        <div class="pagination">
            <button class="pagination-btn">&#8249;</button>
            <button class="pagination-btn">1</button>
            <button class="pagination-btn">2</button>
            <button class="pagination-btn">3</button>
            <button class="pagination-btn">4</button>
            <button class="pagination-btn">5</button>
            <button class="pagination-btn">6</button>
            <button class="pagination-btn">&#8250;</button>
        </div>
    </div>
    <script>
        const editBtn = document.querySelectorAll(".edit-btn");
        const modals = document.querySelectorAll(".modal");
        const closeBtn = document.querySelectorAll(".close-btn");
        const changeBtn = document.querySelectorAll(".change-btn");

        // Add click event listeners to each edit button
        editBtn.forEach((btn, index) => {
            btn.addEventListener("click", () => {
                modals[index].style.display = "block";
            });
        });

        // Add click event listeners to each close button
        closeBtn.forEach((btn, index) => {
            btn.addEventListener("click", () => {
                modals[index].style.display = "none";
            });
        });

        changeBtn.forEach((btn, index) => {
            btn.addEventListener("click", async() => {
                const user_id = btn.getAttribute("data-user-id");
                const statusElement = document.getElementById(`status-${user_id}`)
                statusElement.textContent = "suspend";
                try {
                    const response = await fetch(`/update_user/${user_id}`, {method: "POST"});
                    if (response.ok) {
                        modals[index].style.display = "none";
                    }
                } catch (error) {
                    console.error("Error:", error);
                }
            });
        });

        // Close the modal when clicking outside
        window.onclick = function(event) {
            modals.forEach((modal) => {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            });
        }
    </script>
</body>
</html>
