<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station Layout</title>
    <link rel="stylesheet" href="../static/css/station_edit.css">
</head>
<body>
    <div class="container">
        <h1>History</h1>
        <div class="content-area">
            {% if all_history %}
                <table>
                    <thead>
                        <tr>
                            <th>History ID</th>
                            <th>Station ID</th>
                            <th>Booking Date</th>
                            <th>Time</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in all_history %}
                        <tr class="tlist">
                            <td>History {{ booking.get_booking_id() }}</td>
                            <td>Station {{ booking.get_user() }}</td>
                            <td>{{ booking.get_booking_date() }}</td>
                            <td>{{ booking.get_start_time() }} - {{ booking.get_end_time() }} </td>
                            <td>{{ booking.get_status() }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <span>No booking available.</span>
            {% endif %}
        </div>
        <div class="pagination">
            <button class="pagination-btn">&#8249;</button>
            <button class="pagination-btn">1</button>
            <button class="pagination-btn">2</button>
            <button class="pagination-btn">3</button>
            <button class="pagination-btn">4</button>
            <button class="pagination-btn">5</button>
            <button class="pagination-btn">6</button>
            <button class="pagination-btn">&#8250;</button>
        </div>
    </div>
</body>
</html>

