<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station Layout</title>
    <link rel="stylesheet" href="../static/css/station_edit.css">

 
</head>
<body>
    <div class="container">
        <h1>Station</h1>
        <div class="content-area">
            {% if all_station %}
                <table>
                    <thead>
                        <tr class="thh">
                            <th>Station ID</th>
                            <th>Station Name</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="bodylist">
                        {% for station in all_station %}
                        <tr class="tlist">
                            <td>Station {{ station.get_station_id() }}</td>
                            <td>{{ station.get_station_name() }}</td>
                            <td>{{ station.get_status() }}</td>
                            <td>
                                <button class="edit-btn" id="edit-btn-{{ station.get_station_id() }}">Edit</button>
                            </td>
                            <div id="popup-modal-{{ station.get_station_id() }}" class="modal">
                                <div class="modal-content">
                                    <span class="close-btn" id="close-btn-{{ station.get_station_id() }}">&times;</span>
                                    <h2>Station {{station.get_station_id()}}</h2>
                                    <p>{{ station.get_station_name() }}</p>
                                    <button class="change-btn" data-station-id="{{ station.get_station_id() }}">De-Activate</button>
                                </div>
                            </div>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <span>No stations available.</span>
            {% endif %}
        </div>
    </div>
    <script>
        const editBtn = document.querySelectorAll(".edit-btn");
        const modals = document.querySelectorAll(".modal");
        const closeBtn = document.querySelectorAll(".close-btn");
        const changeBtn = document.querySelectorAll(".change-btn");

        // Add click event listeners to each edit button
        editBtn.forEach((btn, index) => {
            btn.addEventListener("click", () => {
                modals[index].style.display = "block";
            });
        });

        // Add click event listeners to each close button
        closeBtn.forEach((btn, index) => {
            btn.addEventListener("click", () => {
                modals[index].style.display = "none";
            });
        });

        changeBtn.forEach((btn, index) => {
            btn.addEventListener("click", async() => {
                const station_id = btn.getAttribute("data-station-id");
                const statusElement = document.getElementById(`status-${station_id}`)
                statusElement.textContent = "unavailable";
                try {
                    const response = await fetch(`/update_station/${station_id}`, {method: "POST"});
                    if (response.ok) {
                        modals[index].style.display = "none";
                    }
                } catch (error) {
                    console.error("Error:", error);
                }
            });
        });

        // Close the modal when clicking outside
        window.onclick = function(event) {
            modals.forEach((modal) => {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            });
        }
    </script>
</body>
</html>

