<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <div  class="header">
        <h1>Register</h1>
    </div>
    <div class="back-button">
        <a href="login.html">&#8249;</a>
    </div>
    <div class="info">
        <form action="">
            <div class="log">
                <label for="username">Username</label><br>
                <input type="text"><br>
                <label for="email">Email</label><br>
                <input type="text"><br>
                <label for="password">Password</label><br>
                <input type="text"><br>
                <label for="confirmpassword">Confirm password</label><br>
                <input type="text"><br>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>

</body>
</html>