<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setting</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="bg-orange-400 h-[130px] md:h-14">
      <div class="flex flex-row text-white w-full h-full">
        <a href="/">&#8249;</a>
        <div class="mt-auto md:mt-3 flex flex-col md:flex-row">
          <h2 class="px-4 text-3xl">GUEST</h2>
          <div class="flex flex-row gap-4 py-2">
            <div>
              <i class="fa-solid fa-user"></i>
              : MEMBER
            </div>
            <div>CREDIT: 0.0</div>
          </div>
        </div>
        <div class="ml-auto">
          <div class="py-5 px-7 md:py-2 md:px-3">
            <i class="fa-solid fa-headset text-4xl"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->
    <div>
      <div>
        <h2 class="py-7 px-6 text-3xl font-medium">My Account</h2>
        <ul class="flex flex-col divide-y text-center">
          <li class="py-2 pl-20 text-xl ">
            <a href="#"> Verification </a>
          </li>
          <li class="py-2 pl-20 text-xl">
            <a href="#"> Payment </a>
          </li>
          <li class="py-2 pl-20 text-xl">
            <form action="/profile" method="post">
            <button> Edit Profile </button>
            </form>
          </li>
          <li class="py-2 pl-20 text-xl">
            <a href="#"> Your Car </a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="py-7 px-6 text-3xl font-medium">General</h2>
        <ul class="flex flex-col divide-y text-center">
          <li class="py-2 pl-20 text-xl">
            <a href="#"> Language </a>
          </li>
          <li class="py-2 pl-20 text-xl">
            <a href="#"> Logout </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <h1 class="text-3xl font-bold underline text-clifford">Hello world!</h1> -->
  </body>
</html>
